# Ignore outputs and everything in cache directories
gx_sav/*
runs/*
tmp/*
.ipynb_checkpoints/*
__pycache__
__pycache__/*

# re-include configuration files in the runs directory
!runs/*.cfg.xml
!tmp/README.md
!gx_sav/README.md
